footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(211,211,211,0.5);
}

.fc {
    text-decoration: none;
    color: black;
    font-size: larger;
    padding: 10px;
}
