@font-face {
    font-family: grailed;
    src: url('../extras/FontsFree-Net-Proxima-Nova-Sbold.otf');
}

body {
    font-family: grailed;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-family: grailed;
}
