.lf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lfe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lb {
    font-family: grailed;
}
