.listing-display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.listing-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.display-img {
    height: 220px;
    width: 235px;
    object-fit: cover;
}

.listing-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hide {
    display: none;
}

.l-price {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 3px;
    color: darkgrey;
    text-align: right;
}

.listings-header {
    padding-bottom: 3px;
}

.l-head {
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10%;
}
