.fc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.ldf {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ltb {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.ltbd {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.lts {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.bh {
    border: 1px solid black;
    border-radius: 3px;
    background-color: black;
    font-family: grailed;
    color: white;
    padding: 15px;
    cursor: pointer;
}

.il {
    text-align: left;
}

.ti {
    border: 1px solid #070707;
    border-radius: 2px;
    height: 30px;
    width: 100%;
}

.si {
    height: 34px;
    font-family: grailed;
    font-size: 16px;
    text-align: center;
}

.fi {
    font-family: grailed;
    cursor: pointer;
    border: 1px solid black;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    width: fit-content;
    border-radius: 3px;
}

.listing-image {
    height: 400px;
    width: 300px;
}

.img-form {
    margin-left: 20px;
}
