.s-l-c {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 5%;
}

.ic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-p {
    min-width: 100%;
    min-height: 100%;
}

.s-i {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
